.slider-container {
  width: 70%;
  margin: 50px auto 0;
}

.slide-item {
  width: 100%;
  height: 100%;
  border: rgba(79, 91, 110, 0.72) solid 5px;
  border-radius: 50px;
  display: none;
  box-shadow: 0 0 30px #4f5b6e;
}

.slide-item-active {
  display: block;
  animation-name: slideShow;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes slideShow {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 20%;
  }
  40% {
    opacity: 40%;
  }
  60% {
    opacity: 60%;
  }
  80% {
    opacity: 80%;
  }
  100% {
     opacity: 100%;
   }
}