.wrapper {
  min-height: 100vh;
}

.header {
  height: 64px;
  line-height: 64px;
  background-color: #ffffff;
}

.content {
  padding: 20px 0 20px 0;
  text-align: center;
  background-color: #ffffff;
  min-height: 120px;
  line-height: 32px;
}

.footer {
  padding: 20px 0 20px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.btn-add {
  margin-bottom: 20px;
}

.card {
  min-width: 300px;
  margin: 5px;
}

.form {
  margin: 0 auto;
  max-width: 600px;
}

.card-block-btn {
  margin-top: 20px;
}

.input {
  min-width: 300px;
  max-width: 400px;
}

.select {
  min-width: 240px;
  max-width: 600px;
}

.space-dishes {
  display: flex;
  margin-bottom: 8px;
}

.table {
  max-width: 800px;
  margin: 0 auto;
}

.spin {
  width: 100%;
}